.movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &__movie {

    flex: 1 1 25%;
    padding-left: 1em;
    box-sizing: border-box;
    min-width: 300px;
    margin-bottom: 1em;

    &__content {

      position: relative;
      padding: 1em;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      -webkit-box-shadow: 4px 6px 18px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 6px 18px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 6px 18px 0px rgba(0, 0, 0, 0.75);

      &__title {
        text-align: center;
      }

      &__cast {
        padding-bottom: 1em;
      }

      &__poster {
        img {
          width: 100px;
          margin: auto;
          display: block;
        }
      }

      &__show_comments {
        position: absolute;
        bottom: 1em;
      }
    }

  }
}