$element-width: 20em;
$border-radius: 5px;
$border-color: #BBBBBB;
$background-light: #DEDEDE;

@import 'movies';
@import 'comments';

body {
  max-width: 1280px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 3em 1em 3em 1em;

}

.content {

  padding: 0 1em 0 0;

  input, button {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    box-sizing: border-box;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
  }

  input {
    width: $element-width;
  }

  button:hover {
    background-color: $border-color;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  .add_movie, .add_comment {
    padding: 0 1rem 0 1rem;
    margin-bottom: 3em;
  }

}